.bg-text {
    background-color: rgb(205, 0, 212);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f15c;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    height: 350px;
    padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.button {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    width: 150px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;

}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 156px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #d102ce 0%, #4086ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #ff00d0 0%, #0030de 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.button:hover::after {
    filter: blur(30px);
}

.button:hover::before {
    transform: scale(1.1);
}

.button:active::before {
    scale: 0.7;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem
}
label{
    margin-top: 10px;
    text-align: left;
}
input{
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    background-color: #9acaf7b0;
}